[loggers]
keys = root

[handlers]
keys = dungeon_game_info, dungeon_game_debug

[formatters]
keys = dungeon_game_debug

[logger_root]
level = NOTSET
handlers = dungeon_game_info, dungeon_game_debug

[handler_dungeon_game_info]
class = StreamHandler
level = INFO
args = (sys.stdout,)

[handler_dungeon_game_debug]
class = FileHandler
level = DEBUG
formatter = dungeon_game_debug
args = ('DungeonGame.log', 'w')

[formatter_dungeon_game_debug]
class = logging.Formatter
format = [%(asctime)s][%(module)s][%(funcName)s][%(levelname)s] : %(message)s
