[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
twine = "*"
dungeon-game-vkuksa = {index = "https://test.pypi.org/simple/",version = "*"}

[requires]
python_version = "3.7"
