[loggers]
keys = root

[handlers]
keys = info, debug

[formatters]
keys = debug

[logger_root]
level = NOTSET
handlers = info, debug

[handler_info]
class = StreamHandler
level = INFO
formatter =
args = (sys.stdout,)

[handler_debug]
class = FileHandler
level = DEBUG
formatter = debug
args = ('dungeon_game.log', 'w')

[formatter_debug]
class = logging.Formatter
format = [%(asctime)s][%(levelname)s] : %(message)s
datefmt =
